@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Josefin+Sans&display=swap');

@font-face{
    font-family: Aesthetics;
    src: url(../fonts/VCR_OSD_MONO_1.001.ttf);
}
 
@font-face {
   font-family: Alien;
   src: url(../fonts/SFAlienEncounters.ttf)
}