.section-3{
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background: #0d0d0d;
    position: relative;

    &__overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: black;
        z-index: 100;
    }
    &__paki{
        position: absolute;
        left: 50%;
        top: 10px;
        z-index: 101;
        transform: translate(-50%, 0);
        color: #dcdcdc;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 1.1rem;
    }
  
    &__name{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, 0);
        letter-spacing: 7px;
        font-size: 4rem;
        font-family: 'Alien' !important;
        @media(min-width: 576px){
            letter-spacing: 15px;
        }
    }

    &__grid{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width: 880px){
            grid-template-columns: 1fr;
        }
    }
  
    &__map{
        height: 150%;
        @media(min-width: 880px){
            height: 100%;
        }
    }
  
    &__form{
        width: 80%;
        margin: 0 auto;
        background: #0d0d0d;
        color: #dfbfbf;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @media(max-width: 880px){
            padding-top: 2rem;
        }
        & p a {font-size: 1.2rem;}

        &-input{
            background: transparent;
            width: 100%;
            border: none;
            border-bottom: 2px solid #fff;
            color: #dfbfbf;
            font-size: 1.3rem;
        }
    }

    &__submit{
        background: coral;
        border: none;
        padding: 2px;
        border-radius: 20px;
        font-size: 1.3em;
        width: 100%;
    }
}

textarea {
    width: 100%;
    height: 100px;
    background: #0e0e0e;
    color: #fff;
    border-color: #dcdcdc;
    resize: none;
    padding: 3px;
    font-size: 1.2rem;
}